<div class="authform" ng-controller="ProfileCtrl">
  <h3>Edit <%= resource_name.to_s.humanize %></h3>
  <div class="row">
    <div class="col-md-12" ng-show="errormessage" id="editerr">
      <p style="color:red; font-size:20px; text-align:center;"></p>
    </div>
  </div>
  <form id="profile-form">
    <div class="row">
      <div class="form-group col-md-5">
        <span style="font-weight:bold;">* First Name </span>
        <input id="first_name" name="first_name" type="text" class="form-control" ng-model="user.first_name" style="width:100%" required/>
      </div>
      <div class="form-group col-md-7">
        <span style="font-weight:bold;">* Last Name </span>
        <input id="last_name" name="last_name" type="text" class="form-control" ng-model="user.last_name" style="width:100%" required/>
      </div>
    </div>
    <div class="form-group">
      <span style="font-weight:bold;">* Email </span>
      <input id="email" name="email" type="email" class="form-control" ng-model="user.email" style="width:100%" required/>
    </div>
    <div class="form-group">
      <span style="font-weight:bold;"> Phone number </span>
      <input id="phone_number" type="text" class="form-control" ng-model="user.phone_number" style="width:100%" />
    </div>
    <fieldset>
      <legend style="margin-bottom:0px;">Current Password</legend>
      <p>You must enter your current password to make changes.</p>
      <div class="form-group">
        <span style="font-weight:bold;"> Current_Password </span>
        <input id="current_password" name="current_password" type="password" class="form-control" ng-model="user.current_password" style="width:100%" required/>
      </div>
    </fieldset>
    <fieldset>
      <legend style="margin-bottom:0px;"> New Password </legend>
      <div class="form-group">
        <span style="font-weight:bold;"> Password </span>
        <input id="new_password" name="new_password" type="password" class="form-control" ng-model="user.password" style="width:100%" required/>
      </div>
      <div class="form-group">
        <span style="font-weight:bold;"> Password_Confirmation </span>
        <input id="new_password_confirmation" name="new_password_confirmation" type="password" class="form-control" ng-model="user.password_confirmation" style="width:100%" required/>
      </div>
    </fieldset>
    <button class="col-md-3 btn btn-default" ng-click="submitUpdate()">Save</button>
    <button type="button" class="col-md-8 col-md-offset-1 btn btn-default" onclick="location.href='/'">Back</button>
  </form>
</div>